#Aluno:Márcio Henrique Matos de Freitas

# **Exercícios de Python**

Esta é uma lista de exercícios sobre Listas e Dicionários em Python, a qual  visa ajudar-los a aprender e praticar operações de lista e dicionários para melhorar seu conhecimento Python. Todas as perguntas são testadas em Python 3. 

Os seguintes tópicos sobre listas são apresentados:

* Operações e manipulações da lista Python
* Funções de lista Python
* Slicing da lista Python
* Compreensão da lista Python
* Operações e manipulações de dicionário Python
* Funções de dicionário Python
* Compreensão do dicionário Python 

Caso tenha algum dúvida, entrar em contato: souza.m.allan@gmail.com

# **Listas**

## **Inverta a sequência de um lista**

In [6]:
#Aluno:Marcio Henrique Matos de Freitas
lista_00 = [100, 200, 300, 400, 500]

lista_00.reverse()
print(lista_00)
#########################################
#         Escreva o código aqui
#########################################

[500, 400, 300, 200, 100]

##### Resultado esperado:
<pre>
[500, 400, 300, 200, 100]
</pre>


## **Concatene duas listas pelos índices**

In [16]:
#Aluno:Marcio Henrique Matos de Freitas
lista_01 = ['E', 'm', 'cha', 'Jo']
lista_02 = ['u', 'e', 'mo', 'ão']


#########################################
#         Escreva o código aqui
#########################################
#definndo os indices
indi_1=0
indi_2=0

#riando uma lista

concate=[]

for i in range(len(lista_01)):
  #variaveis locais
    stri_1=lista_01[i]
    stri_2=lista_02[i]
    concate.append(stri_1[indi_1:]+ stri_2[indi_2:])

print(concate)

['Eu', 'me', 'chamo', 'João']

##### Resultado esperado:
<pre>
['Eu', 'me', 'chamo', 'João']
</pre>

## **Dada uma lista de números. Transforme cada item da lista em seu quadrado**

In [22]:
#Márcio Henrique Matos de Freitas
lista_03 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

lista_quadrado=[numero ** 2 for numero in lista_03]
print(lista_quadrado)

#########################################
#         Escreva o código aqui
#########################################

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

##### Resultado esperado:
<pre>
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
</pre>

## **Dada duas listas. Iteresobre elas simultaneamente, de modo que a lista_04 exiba os itens na ordem original e a lista_05 na ordem inversa**

In [37]:
lista_04 = [10, 20, 30, 40, 50]
lista_05 = [100, 200, 300, 400, 500]


#########################################
#         Escreva o código aqui
#########################################
#Márcio Henrique Matos de Freitas

listas_juntas=[(10, 500), (20, 400), (30, 300), (40, 200), (50, 100)]

ordenar=sorted(listas_juntas, key=lambda x: x[1], reverse=True)

for x in listas_juntas:
    print("{} {}".format(x[0], x[1]))

10 500
20 400
30 300
40 200
50 100

##### Resultado esperado:
<pre>
10 500
20 400
30 300
40 200
50 100
</pre>

## **Remova a string vazia da listas de strings**

In [42]:
lista_06 = ['José', 'Maria', 'Paulo', '', 'Pedro', '', 'Ana']

#########################################
#         Escreva o código aqui
#########################################

#Aluno:Marcio Henrique Matos de Freitas

sem_aspas=list(filter(lambda x: x !='',lista_06))
print(sem_aspas)

['José', 'Maria', 'Paulo', 'Pedro', 'Ana']

##### Resultado esperado:
<pre>
['José', 'Maria', 'Paulo', 'Pedro', 'Ana']
</pre>

## **Adicione o número 7000 após o número 6000 na seguinte lista**

In [50]:
list_07 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

#########################################
#         Escreva o código aqui
#########################################
#Márcio Henrique Matos de freitas

list_07[2][2].insert(2,7000)
print(list_07)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
list_07[2][2].insert(2, 7000)
list_07

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

##### Resultado esperado:
<pre>
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
</pre>

## **Dada uma lista aninhada, adicione a sub-lista ["h", "i", "j"] na posição correta**

In [55]:
lista_08  = ['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']
sub_lista = ['h', 'i', 'j']

#########################################
#         Escreva o código aqui
#########################################

#Aluno:Márcio Henrique Matos de Freitas

#criando uma sublista final

sublista_final=lista_08[2][1][2]

#adcionando hji
sublista_final.extend(sub_lista)

print(lista_08)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

##### Resultado esperado:
<pre>
['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']
</pre>

## **Dada uma lista, encontre o valor 20 e, se estiver presente, substitua-o por 200. Atualize apenas a primeira ocorrência do valor**

In [56]:
lista_09 = [5, 10, 15, 20, 25, 50, 20]

#########################################
#         Escreva o código aqui
#########################################

#Aluno:Marcio Henrique Matos de Freitas

inserir_20=lista_09.index(20)
lista_09[inserir_20]=200
print(lista_09)

[5, 10, 15, 200, 25, 50, 20]

##### Resultado esperado:
<pre>
[5, 10, 15, 200, 25, 50, 20]
</pre>

# **Dicionários**

## **Converta as seguintes listas para dicionários**

In [57]:
chaves  = ['Dez', 'Vinte', 'Trinta']
valores = [10, 20, 30]

#########################################
#         Escreva o código aqui
#########################################
#Aluno:Marcio Henrique Matos de Freitas

converter_dicio=dict(zip(chaves,valores))
print(converter_dicio)

{'Dez': 10, 'Vinte': 20, 'Trinta': 30}

##### Resultado esperado:
<pre>
{'Dez': 10, 'Vinte': 20, 'Trinta': 30}
</pre>

## **Junte os seguintes dois dicionários Python em um só**

In [58]:
dicionario_01 = {'Dez' : 10, 'Vinte' : 20, 'Trinta' : 30}
dicionario_02 = {'Trinta' : 30 , 'Quarenta' : 40, 'Cinquenta' : 50}

#########################################
#         Escreva o código aqui
#########################################

#Aluno:Marcio Henrique Matos de Freitas

#realizando update

dicionario_01.update(dicionario_02)

print(dicionario_01)

{'Dez': 10, 'Vinte': 20, 'Trinta': 30, 'Quarenta': 40, 'Cinquenta': 50}

##### Resultado esperado:
<pre>
{'Dez': 10, 'Vinte': 20, 'Trinta': 30, 'Quarena': 40, 'Cinquenta': 50}
</pre>

## **Acesse o valor da chave "história" do dicionário abaixo**

In [62]:
dicionario_03 = { 
   "Turma":{ 
      "Aluno":{ 
         "Nome": "João",
         "Notas": { 
            "Física"  : 70,
            "História" : 80
         }
      }
   }
}

#########################################
#         Escreva o código aqui
#########################################

#Aluno:Márcio Henrique Matos de Freitas

historia=dicionario_03["Turma"]["Aluno"]["Notas"]["História"]
print(historia)

80

##### Resultado esperado:
<pre>
80
</pre>

## **Inicializar dicionário com valores padrão**

In [63]:
empregados     = ['Ana', 'Maria', 'João']
valores_padrao = {'Cargo' : 'Desenvolvedor', 'Salário' : 8_000}

#########################################
#         Escreva o código aqui
#########################################

#Aluno:Márcio Henriue Matos de Freitas

#criando dicionario para cada profissão

profissao={}

for empregado in empregados:
  profissao=valores_padrao.copy()
  profissao['Nome']=empregado
  profissao[empregado]=profissao


print(profissao)

{'Cargo': 'Desenvolvedor', 'Salário': 8000, 'Nome': 'João', 'João': {...}}

##### Resultado esperado:
<pre>
{ 'Ana': {'Cargo' : 'Desenvolvedor', 'Salário' : 8_000},
  'Maria': {'Cargo' : 'Desenvolvedor', 'Salário' : 8_000},
  'João': {'Cargo' : 'Desenvolvedor', 'Salário' : 8_000}
}
</pre>

## **Crie um novo dicionário extraindo as seguintes chaves de um dicionário abaixo**

In [70]:
dicionario_04 = {
  "Nome"   : "Maria",
  "Idade"  : 25,
  "Salário": 8_000,
  "Cidade" : "São Paulo"
  
}

chaves_para_extrair = ['Nome', 'Salário']

#########################################
#         Escreva o código aqui
#########################################

#Aluno:Márcio Henrique Matos de Freitas

novo_dicio=dict.fromkeys(dicionario_04.keys())
novo_dicio.update({'Nome':'Maria', 'Salário':8000})
print(novo_dicio)

{'Nome': 'Maria', 'Idade': None, 'Salário': 8000, 'Cidade': None}

##### Resultado esperado:
<pre>
{'Nome': 'Maria', 'Salário': 8000}
</pre>

## **Exclua um conjunto de chaves de um dicionário**

In [71]:
dicionario_05 = {
  "Nome"   : "Maria",
  "Idade"  : 25,
  "Salário": 8_000,
  "Cidade" : "São Paulo"
  
}

chaves_para_excluir = ['Nome', 'Salário']

#########################################
#         Escreva o código aqui
#########################################

#ALuno:Márcio Henrique Matos de Freitas
for chave in chaves_para_excluir:
  dicionario_05.pop(chave,None)

print(dicionario_05)

{'Idade': 25, 'Cidade': 'São Paulo'}

##### Resultado esperado:
<pre>
{'Cidade': 'São Paulo', 'Idade': 25}
</pre>

## **Verifique se o valor 200 existe no dicionário**

In [72]:
dicionario_06 = {'a' : 100, 'b' : 200, 'c' : 300}

#########################################
#         Escreva o código aqui
#########################################
#Aluno:Márcio Henrique Matos de Freitas


if 200 in dicionario_06.values():
  print("True")
else:
  print("False")

True

##### Resultado esperado:
<pre>
True
</pre>

## **Renomeie a chave Cidade para localização no seguinte dicionário**

In [74]:
dicionario_07 = {
  "Nome"   : "Maria",
  "Idade"  : 25,
  "Salário": 8_000,
  "Cidade" : "São Paulo"
  
}

#########################################
#         Escreva o código aqui
#########################################
#Aluno:Márcio Henrique Matos de Freitas

dicionario_07['Localizacao']=dicionario_07.pop("Cidade")
print(dicionario_07)

{'Nome': 'Maria', 'Idade': 25, 'Salário': 8000, 'Localizacao': 'São Paulo'}

##### Resultado esperado:
<pre>
{
  "Nome": "Maria",
  "Idade":25,
  "Salário": 8000,
  "Localização": "São Paulo"
}
</pre>

## **Obtenha a chave de um valor mínimo do seguinte dicionário**

In [77]:
dicionario_08 = {
  'Física'    : 82,
  'Matemática': 65,
  'História'  : 75
}

#########################################
#         Escreva o código aqui
#########################################
#Aluno:Márcio Henrique Matos de Freitas

menor_chave=min(dicionario_08,chave=lambda chave_minima: dicionario_08[chave_minima])
print(menor_chave)

TypeError: ignored

##### Resultado esperado:
<pre>
Matemática
</pre>

## **Alterar o salário de João para 8500 em um determinado dicionário Python**

In [78]:
dicionario_09 = {
     'Empregado_1': {'Nome': 'Ana',   'Salário': 7500},
     'Empregado_2': {'Nome': 'Maria', 'Salário': 8000},
     'Empregado_3': {'Nome': 'João',  'Salário': 6500}
}

#########################################
#         Escreva o código aqui
#########################################

#Aluno:Márcio Henrique Matos de Freitas
dicionario_09['Salário']=1000
print(dicionario_09)

{'Empregado_1': {'Nome': 'Ana', 'Salário': 7500}, 'Empregado_2': {'Nome': 'Maria', 'Salário': 8000}, 'Empregado_3': {'Nome': 'João', 'Salário': 6500}, 'Salário': 1000}

##### Resultado esperado:
<pre>
'Empregado_1': {'Nome': 'Ana',   'Salário': 7500},
'Empregado_2': {'Nome': 'Maria', 'Salário': 8000},
'Empregado_3': {'Nome': 'João',  'Salário': 8500}
</pre>